*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
}

.banner{
    text-align: center;
    background:#ff2f7c;
}
.banner img{
    display: block;
    margin:0 auto;
}
.banner1{
    display: block;
    height: 80px;
    background:#ff2f7c url(../images/banner.jpg) no-repeat center 0;
}

#header{
    background: #f2f2f2;
    height: 40px;
    box-shadow: 0 2px 4px 0px rgba(0,0,0,0.30);
    
}
.wrapper{
    width: 1230px;
    /* height: 40px; */
    /* background: #ff0000; */
    margin:0 auto;
}

.header-login{
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    float: left;
}
.header-login span,.header-login a{
    color:#999;
}
.header-login a{
    padding-left:20px; 
}
.header-login a:hover{
    color: #FF0036;
}
.header-list{
    float: right;
}
.header-list li{
    float: left;
    line-height: 40px;
    padding: 0 15px 0 20px; 
}
.header-list li a{
    color:#999;
}
.header-list li a:hover{
    color: #FF0036;
}




